<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header') %>
    <link rel="icon" type="image/png" href="/images/googleplay/<%= id %>/favicon.png">
    <title><%= name %> - Privacy Policy</title>
    <link rel="stylesheet" href="/css/googleplay.css">
</head>
<body>
    <div class="content">
        <img src="/images/googleplay/<%= id %>/logo.png" style="max-width: 100%; max-height: 200px"/>
        <div class="buttons">
			<%- include('../../partials/button',{
				link: `https://benjamin-halko.itch.io/${itchio}`,
				color: '#FA5C5C',
				text: 'Itch.io',
				svg: 'itchio'
			}) %>
			<%- include('../../partials/button',{
				link: `https://play.google.com/store/apps/details?id=com.benjaminhalko.${googleplay}`,
				color: 'lime',
				text: 'Google Play',
				svg: 'googleplay'
			}) %>
			<%- include('../../partials/button',{
				link: `https://gx.games/games/${gxgames}/`,
				color: '#fc1d4e',
				text: 'GX Games',
				svg: 'operagx'
			}) %>
			<%- include('../../partials/button',{
				link: `https://github.com/BenjaminHalko/${github}`,
				color: 'cyan',
				text: 'GitHub',
				svg: 'github'
			}) %>
			<%- include('../../partials/button',{
				link: 'privacypolicy.html',
				color: 'grey',
				text: 'Privacy Policy',
				svg: 'privacy',
				style: 'margin-top: 50px'
			}) %>
        </div>
    </div>
</body>
</html>