<% if(typeof style == 'undefined') { style = ''; }%>
<a class="button" href="<%= link %>" target="_blank" style="--col: <%= color %>;<%= style %>">
    <svg><use href="/svg/<%= svg %>.svg#id"/></svg>
    <p><%= text %></p>
</a>